@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import 'nullstyle.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  background-color: rgb(28, 30, 51);
  overflow: hidden;
}
$imageSize: 640px;

.content {
  margin: 0 auto;
  max-width: 2560px;
}
@media (max-width: 1200px) {
  .content {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .content {
    max-width: 750px;
  }
}
@media (max-width: 757px) {
  .content {
    max-width: none;
  }
  .text {
    font-size: 8px;
    margin-top: 10px;
    line-height: 1;
  }
  .title {
    margin: 0 auto;
    font-size: 10px;
  }
  .title-main {
    &::after {
      content: '';
      position: absolute;
      width: 150px;
      height: 1px;
      left: 50%;
      background-color: #37b6ce;
      margin: 20px 0 0 -75px;
    }
  }
}
body {
  color: #37b6ce;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
.title-main {
  &::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    left: 50%;
    background-color: #37b6ce;
    margin: 20px 0 0 -75px;
  }
}
.text {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}
.block-greetings {
  margin-top: 100px;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex: 1 1 50%;
    margin-right: 10px;
  }
  &__text-main {
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
  }

  &__text {
    padding-left: 20px;
    li::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      margin: 8px 0 0 -10px;
      border-radius: 50%;
      background-color: #37b6ce;
    }
  }

  &__right {
    border: 1px solid #37b6ce;
    margin: 10px 10px 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 1 50%;
  }
  @media (max-width: 757px) {
    &__row {
      flex-direction: column;
      margin: 0 10px;
    }

    &__left {
      flex: 1 1 50%;
    }
    &__text-main {
    }

    &__title {
      text-align: center;
      &::after {
        content: '';
        position: absolute;
        width: 180px;
        height: 1px;
        left: 50%;
        background-color: #37b6ce;
        margin: 30px 0 0 -100px;
      }
    }

    &__right {
    }
  }
}
.block-info {
  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    border: 1px solid #37b6ce;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 1 50%;
  }

  &__right {
    margin-left: 20px;
    flex: 1 1 50%;
  }
  @media (max-width: 757px) {
    &__row {
      margin: 0 10px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    &__left {
      border: 1px solid #37b6ce;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex: 1 1 50%;
      margin-top: 5px;
    }

    &__right {
      flex: 1 1 50%;
    }
  }
}
.block-columns {
  &__row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  &__flex {
    display: flex;
    flex: 1 1 45%;
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.61);
    border: 1px solid #236875;
    border-radius: 15px;
  }
  &__flex img {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #37b6ce;
  }
  &__part-left {
    flex: 1 1 50%;
    max-width: 320px;
    max-height: 120px;
  }
  &__part-right {
    flex: 1 1 50%;
    margin-left: 10px;
  }
  @media (max-width: 757px) {
    &__row {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    &__flex {
      display: flex;
      flex: 1 1 45%;
      padding: 10px;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.61);
      border: 1px solid #236875;
      border-radius: 15px;
    }
    &__flex img {
      overflow: hidden;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid #37b6ce;
    }
    &__part-left {
      flex: 1 1 50%;
      max-width: 320px;
      max-height: 120px;
    }
    &__part-right {
      flex: 1 1 50%;
      margin-left: 10px;
    }
    &__part-title {
      margin-top: 0px;
    }
  }
}
.block-subcribe-columns {
  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;

    flex: 0 1 33.333%;
    background-color: rgba(0, 0, 0, 0.61);
    border: 1px solid #236875;
    border-radius: 15px;
    margin: 0 20px;
  }
  @media (max-width: 757px) {
    &__row {
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__item {
      max-width: 400px;

      flex: 0 1 auto;
      margin: 0 20px 10px;
    }
  }
}
.item {
  // .item__title

  &__title {
  }

  // .item__text

  &__text {
    flex: 1 1 auto;
    margin: 10px 25px 0;
  }
  &__btn a {
    color: #37b6ce;
  }

  // .item__btn

  &__btn {
    padding: 5px;
    background-color: black;
    border: 1px solid #37b6ce;
    border-radius: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: rgb(41, 40, 40);
      border: 3px solid #37b6ce;
      box-shadow: 2px -2px 2px #37b6ce;
    }
    transition: background-color 0.2s ease-in 0s;
    transition: box-shadow 0.2s ease-in 0s;
    transition: border 0.2s ease-in 0s;
  }
}
.footer {
  margin-top: 50px;
  border-top: 2px solid rgb(11, 227, 235);
  background-color: rgb(23, 55, 65);

  &__row {
    padding: 5px 0;
    max-width: 230px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &__image img {
    margin-right: 15px;
    max-width: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
