@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import 'nullstyle.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  background-color: rgb(28, 30, 51);
  overflow: hidden;
}
$imageSize: 640px;

.content {
  margin: 0 200px;
  max-width: 2560px;
}
body {
  color: #37b6ce;
}

.title {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
.text {
  font-size: 24px;
  margin-top: 10px;
}
.block-greetings {
  position: relative;
  margin-top: 100px;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex: 1 1 50%;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
  }

  &__text {
    line-height: 1.5;
    position: relative;
    li::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      margin: 15px 0 0 -10px;
      border-radius: 50%;
      background-color: #37b6ce;
    }
  }

  &__right {
    border: 1px solid #37b6ce;
    margin: 10px 10px 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 1 50%;
  }
}
.block-info {
  &__title {
  }

  &__row {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
  }

  &__left {
    border: 1px solid #37b6ce;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 1 50%;
  }

  &__right {
    margin-left: 20px;
    flex: 1 1 50%;
  }

  &__text {
  }
}
.block-columns {
  // .block-columns__title

  &__title {
  }

  // .block-columns__row

  &__row {
  }

  // .block-columns__block

  &__block {
  }

  // .block-columns__flex

  &__flex {
  }

  // .block-columns__part-image

  &__part-image {
  }

  // .block-columns__part-title

  &__part-title {
  }

  // .block-columns__part-text

  &__part-text {
  }
}
.block-subcribe-columns {
  // .block-subcribe-columns__title

  &__title {
  }

  // .block-subcribe-columns__row

  &__row {
  }

  // .block-subcribe-columns__item

  &__item {
  }
}
.item {
  // .item__title

  &__title {
  }

  // .item__text

  &__text {
  }

  // .item__btn

  &__btn {
  }
}
.footer {
  border-top: 2px solid rgb(11, 227, 235);
  background-color: rgb(23, 55, 65);

  &__row {
    max-width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image img {
    max-width: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
